<%= form_for @maya_job, html: {class: "pure-form pure-form-aligned"} do |f| %>
  <% if @maya_job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@maya_job.errors.count, "error") %> prohibited this maya_job from being saved:</h2>

      <ul>
      <% @maya_job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <legend>Job Settings</legend>
    <div class="pure-control-group">
      <%= f.label "Name" %>
      <%= f.text_field :name %>
    </div>
    <div class="pure-control-group">
      <%= f.label "Scene file" %>
      <%= f.text_field :scene %>
    </div>
    <div class="pure-control-group">
      <%= f.label "Project path" %>
      <%= f.text_field :projectFolder %>
    </div>
    <div class="pure-control-group">
      <%= f.label "Render Path" %>
      <%= f.text_field :renderFolder %>
    </div>
    <div class="pure-control-group">
      <%= f.label "Start frame" %>
      <%= f.text_field :startFrame %>
    </div>
    <div class="pure-control-group">
      <%= f.label "End frame" %>
      <%= f.text_field :endFrame %>
    </div>
    <div class="pure-control-group">
      <%= f.label "Width" %>
      <%= f.text_field :width %>
    </div>
    <div class="pure-control-group">
      <%= f.label "Height" %>
      <%= f.text_field :height %>
    </div>
    <%= f.submit %>
  </fieldset>
<% end %>
