<% @maya_jobs.each do |maya_job| %>
    <div class="email-item <%= jobIsSelected(maya_job) %> <%= jobStatusClass(maya_job) %> pure-g">
    <div class="pure-u">
        <img class="email-avatar" alt="Tilo Mitra&#x27;s avatar" height="64" width="64" src="img/common/tilo-avatar.png">
    </div>

    <div class="pure-u-3-4">
      <h5 class="email-name"><%= maya_job.user %></h5>
      <h4 class="email-subject"><%= maya_job.name %></h4>
      <%= link_to 'Show', maya_job %>
      <%= link_to 'Edit', edit_maya_job_path(maya_job) %>
      <%= link_to 'Destroy', maya_job, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
<% end %>
