<!DOCTYPE html>
<html>
<head>
  <title>Panic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="layout" class="content pure-g">
    <div id="nav" class="pure-u">
      <a href="#" class="nav-menu-button">Menu</a>
      <div class="nav-inner">
        <div class="pure-menu pure-menu-open">
          <ul>
            <li><%= link_to 'All tasks', maya_jobs_path %></li>
            <li><%= link_to 'New Maya job', new_maya_job_path %></li>
          </ul>

        </div>
      </div>
    </div>
    <div id="list" class="pure-u-1">
      <%= render :partial => "maya_jobs/joblist" %>
    </div>
    <div id="main" class="pure-u-1">
      <%= yield %>
    </div>
  </div>
</body>
</html>
